PCWeb-Backend/obj/Debug/net10.0/PCWeb-Backend.AssemblyInfo.cs
PCWeb-Backend/obj/Debug/net10.0/PCWeb-Backend.AssemblyInfoInputs.cache
PCWeb-Backend/obj/Debug/net10.0/PCWeb-Backend.assets.cache
PCWeb-Backend/obj/Debug/net10.0/PCWeb-Backend.csproj.AssemblyReference.cache
PCWeb-Backend/obj/Debug/net10.0/PCWeb-Backend.GeneratedMSBuildEditorConfig.editorconfig
PCWeb-Backend/obj/PCWeb-Backend.csproj.nuget.dgspec.json
PCWeb-Backend/obj/PCWeb-Backend.csproj.nuget.g.props
PCWeb-Backend/obj/PCWeb-Backend.csproj.nuget.g.targets
PCWeb-Backend/obj/project.nuget.cache
PCWeb-Backend/obj/project.assets.json
